 
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Didact+Gothic&family=EB+Garamond:wght@500&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond',serif;
}

html {
    height: 100%;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.logintitle h1 {
    position: absolute;
    font-size: 350%;
    right: 650px;
    left: 650px;
    bottom: 625px;
}

.logintitle input {
    height:40px;
    width:30%;
    margin:20px 0;
    border: none;
    padding:20px;
    transform: translate(500px,200px);
    background-color:rgb(241,232,255);
    font-size: 20px;
    outline-color: rgb(202,177,243);
    box-shadow: 0 0 0 2px rgb(202,177,243);
    border-radius:50px; 
}

/* .logintitle input::placeholder{
    transform: translateX(2px);
} */

.text {
    transform: translate(620px, 200px);
}
.textsecondline {
    transform: translate(600px,200px);
}
.login-button {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    font-size:100%;
    color: #fff;
    border:none; 
    border-radius:50px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
   transform: translate(650px,10px);
  };
  
  




